{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/floating-labels.css') }}">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
    <div class="col-6">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal">{{ 'Log In'|trans }}</h1>
            </div>
            <div class="form-label-group">
                <input type="email" value="{{ last_username }}" id="inputEmail" name="email" class="form-control" placeholder="{{ 'Email'|trans }}" required autofocus>
                <label for="inputEmail">{{ 'Email'|trans }}</label>
            </div>
            <div class="form-label-group">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="{{ 'Password'|trans }}" required>
                <label for="inputPassword">{{ 'Password'|trans }}</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> {{ 'Remember me'|trans }}
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-primary btn-block mb-3" name="login" type="submit">{{ 'Log In'|trans }}</button>
            <p class="text-center"><a href="{{ path('app_registration') }}">{{ 'Do not have account'|trans }}?</a></p>
        </form>
    </div>
    </div>
{% endblock %}
